@use 'utils/variables' as v;

.summary-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 25.3rem;
  padding: 0.5rem 2.4rem;
}

.summary-name {
  font-family: v.$antonio;
  font-size: 4rem;
  line-height: 5.2rem;
  text-transform: uppercase;
}

.summary-content {
  font-family: v.$spartan;
  font-size: 1.1rem;
  line-height: 2.2rem;
  opacity: 80%;
  padding-top: 1.6rem;
  text-align: center;
}

.summary-source {
  display: flex;
  flex-direction: row;
  font-family: v.$spartan;
  font-size: 1.2rem;
  line-height: 2.5rem;
  margin-top: auto;
  opacity: 0.5;
  white-space: pre;

  > a {
    color: white;
    font-weight: bold;
    letter-spacing: 0.05rem;
  }
}

.source-new-window {
  align-items: center;
  display: flex;
  padding-left: 0.2rem;
}

@media screen and (min-width: 768px) {
  .summary-card {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 4rem;
  }

  .summary-name {
    font-size: 4.8rem;
    line-height: 6.2rem;
    padding-bottom: 1rem;
  }

  .summary-content {
    text-align: left;
  }

  .summary-source {
    margin-top: auto;
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    justify-items: center;
  }
  
  .summary-card {
    align-self: flex-end;
    display: grid;
    height: 34rem;
    padding-left: 2.4rem;
    width: 35rem;
  }

  .summary-name {
    font-size: 8rem;
    line-height: 10.4rem;
    padding-bottom: 0;
  }

  .summary-content {
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding-bottom: 1.5rem;
    width: 35rem;
  }

  .summary-source {
    align-self: flex-end;
    font-size: 1.4rem;
    margin: 0;
    padding-bottom: 1rem;
  }
}