@use 'utils/variables' as v;

.planet-menu-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  width: 100%;
}

.planet-dot {
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
}

.planet-name {
  flex-grow: 2;
  font-family: v.$spartan;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.136rem;
  line-height: 2.5rem;
  padding-left: 2rem;
  padding-top: 0.2rem;  // nudge
}

.planet-chevron {
  padding-bottom: 0.3rem;  // nudge
}

@media screen and (min-width: 768px) {
  .planet-menu-item {
    align-items: center;
    display: flex;
    padding: 0;
  }
  
  .planet-dot {
    display: none;
  }

  .planet-chevron {
    display: none;
  }

  .planet-name {
    font-size: 1.1rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    padding: 0;
    text-align: center;
  }

  .divider {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .planet-menu-item {
    height: 13rem;
  }
}