@use 'utils/variables' as v;

.planet-menu {
  background: v.$bg-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2.4rem;

  > div:last-of-type > .divider {
    display: none;
  }
}