@use 'utils/variables' as v;

.planet-menu {
  background: v.$bg-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2.4rem;

  > .divider:last-of-type {
    display: none;
  }
}