@use 'utils/variables' as v;

.planet-menu {
  background: v.$bg-color;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2.4rem;

  > div:last-of-type.divider {
    display: none;
  }
}

.non-mobile-planet-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .planet-menu {
    display: flex;
    flex-direction: row;
    height: 5rem;
    margin: 1rem 0 1.5rem;
    padding: 0 4rem;

    & .divider {
      display: none;
    }

    div:hover {
      &.color-0 {
        border-top: solid 0.4rem v.$mercury;
        padding-bottom: 0.4rem;
      }
      &.color-1 {
        border-top: solid 0.4rem v.$venus;
        padding-bottom: 0.4rem;
      }
      &.color-2 {
        border-top: solid 0.4rem v.$earth;
        padding-bottom: 0.4rem;
      }
      &.color-3 {
        border-top: solid 0.4rem v.$mars;
        padding-bottom: 0.4rem;
      }
      &.color-4 {
        border-top: solid 0.4rem v.$jupiter;
        padding-bottom: 0.4rem;
      }
      &.color-5 {
        border-top: solid 0.4rem v.$saturn;
        padding-bottom: 0.4rem;
      }
      &.color-6 {
        border-top: solid 0.4rem v.$uranus;
        padding-bottom: 0.4rem;
      }
      &.color-7 {
        border-top: solid 0.4rem v.$neptune;
        padding-bottom: 0.4rem;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .planet-menu {
    display: grid;
    gap: 3.3rem;
    grid-template-columns: repeat(8, min-content);
    height: 12rem;
    margin: 0;
    padding-left: 1.6rem;

    & .divider {
      display: none;
    }
  }
}