$bg-color: #070724;

$mercury: #419EBB;
$venus: #EDA249;
$earth: #6F2ED6;
$mars: #D14C32;
$jupiter: #D83A34;
$saturn: #CD5120;
$uranus: #1EC1A2;
$neptune: #2D68F0;

$mercury-dot: #DEF4FC;
$venus-dot: #F7CC7F;
$earth-dot: #545BFE;
$mars-dot: #FF6A45;
$jupiter-dot: #ECAD7A;
$saturn-dot: #FCCB6B;
$uranus-dot: #65F0D5;
$neptune-dot: #497EFA;

$gray: #38384F;
$hover-gray: #D8D8D8;
$light-gray: #838391;

$antonio: 'Antonio';
$spartan: 'Spartan';