@use 'utils/variables' as v;

.planet-image {
  align-items: center;
  display: flex;
  height: 30rem;
  justify-content: center;
  position: relative;

  >img:nth-of-type(1) {
    position: relative;
  }

  >img:nth-of-type(2) {
    height: auto;
    bottom: 0;
    position: absolute;
    width: 9rem;
  }
}

.planet-image-0 {
  height: 111px;
  width: 111px;
}
.planet-image-1 {
  height: 154px;
  width: 154px;
}
.planet-image-2 {
  height: 173px;
  width: 173px;
}
.planet-image-3 {
  height: 129px;
  width: 129px;
}
.planet-image-4 {
  height: 224px;
  width: 224px;
}
.planet-image-5 {
  height: 256px;
  width: 256px;
}
.planet-image-6 {
  height: 176px;
  width: 176px;
}
.planet-image-7 {
  height: 173px;
  width: 173px;
}

@media screen and (min-width: 768px) {
  .planet-image {
    height: 46rem;
    margin-top: 0.75rem;
    
    >img:nth-of-type(2) {
      height: auto;
      bottom: 4rem;
      position: absolute;
      width: 12rem;
    }
  }

  .planet-image-0 {
    height: 184px;
    width: 184px;
  }
  .planet-image-1 {
    height: 253px;
    width: 253px;
  }
  .planet-image-2 {
    height: 285px;
    width: 285px;
  }
  .planet-image-3 {
    height: 213px;
    width: 213px;
  }
  .planet-image-4 {
    height: 369px;
    width: 369px;
  }
  .planet-image-5 {
    height: 422px;
    width: 422px;
  }
  .planet-image-6 {
    height: 290px;
    width: 290px;
  }
  .planet-image-7 {
    height: 285px;
    width: 285px;
  }
}

@media screen and (min-width: 1440px) {
  .planet-image {
    padding-top: 6rem;
    padding-left: 24rem;

    >img:nth-of-type(2) {
      height: auto;
      bottom: 4rem;
      position: absolute;
      width: 16rem;
    }
  }
  
  .planet-image-0 {
    height: 290px;
    width: 290px;
  }
  .planet-image-1 {
    height: 400px;
    width: 400px;
  }
  .planet-image-2 {
    height: 450px;
    width: 450px;
  }
  .planet-image-3 {
    height: 336px;
    width: 336px;
  }
  .planet-image-4 {
    height: 582px;
    width: 582px;
  }
  .planet-image-5 {
    height: 666px;
    width: 666px;
  }
  .planet-image-6 {
    height: 458px;
    width: 458px;
  }
  .planet-image-7 {
    height: 450px;
    width: 450px;
  }
}