@use 'utils/variables' as v;

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

html {
  font-size: 62.5%;  // setting root font size to 10px for rem
}

body {
  margin: 0;
}

.App {
  align-items: center;
  background: v.$bg-color url('../public/background-stars.svg');
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: v.$antonio;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 950px;
  width: 375px;
}

.title-hamburger {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
}

.divider {
  background: white;
  height: 1px;
  opacity: 0.2;
  width: 100%;
}